{{>layouts/header}}
<div class="container mt-5">  <!– mt-5는 컨테이너에서 설명함 -->
    <h1 class="text-primary">Hello, Bootstrap!</h1>
    <button class="btn btn-success">클릭</button>
</div>

{{>layouts/footer}}